In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/IA/PracticaCalificada2-CC421/train.csv', chunksize=42000000)

In [ ]:
data.get_chunk()

                                    key  ...  passenger_count
0           2009-06-15 17:26:21.0000001  ...                1
1           2010-01-05 16:52:16.0000002  ...                1
2          2011-08-18 00:35:00.00000049  ...                2
3           2012-04-21 04:30:42.0000001  ...                1
4         2010-03-09 07:51:00.000000135  ...                1
...                                 ...  ...              ...
41999995    2012-01-27 14:35:43.0000006  ...                1
41999996   2014-07-17 13:29:00.00000079  ...                2
41999997   2014-10-05 12:53:00.00000069  ...                3
41999998    2010-11-28 18:47:42.0000006  ...                1
41999999    2014-01-19 01:25:49.0000004  ...                3

[42000000 rows x 8 columns]