In [6]:
#Habilitar si usas google colab

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [7]:
import pandas as pd

# Lectura de la data

In [8]:
# Utilizando google colab Jesus
#data = pd.read_csv('/content/drive/MyDrive/IA/PracticaCalificada2-CC421/train.csv', chunksize=42000000)
# Utilizando google colab ruta Franz
#data = pd.read_csv('/content/drive/MyDrive/IA_PC2/train.csv', chunksize=1000000 , index_col=0)
# Utilizando google colab ruta Eros
data = pd.read_csv('/content/drive/MyDrive/IA-PC2/train.csv', chunksize=1000000 , index_col=0)
# Desde local (jupyter notebook)
#data = pd.read_csv('train.csv', chunksize=42000000)

In [9]:
data.get_chunk()

                               fare_amount  ... passenger_count
key                                         ...
2009-06-15 17:26:21.0000001            4.5  ...               1
2010-01-05 16:52:16.0000002           16.9  ...               1
2011-08-18 00:35:00.00000049           5.7  ...               2
2012-04-21 04:30:42.0000001            7.7  ...               1
2010-03-09 07:51:00.000000135          5.3  ...               1
...                                    ...  ...             ...
2014-09-13 21:44:38.0000001            7.0  ...               1
2010-09-20 14:50:37.0000002            7.3  ...               2
2013-04-26 14:03:00.000000118         10.5  ...               5
2011-07-08 00:29:00.00000099           6.9  ...               1
2009-12-31 14:30:00.00000021           4.1  ...               1

[1000000 rows x 7 columns]

In [10]:
df = data.get_chunk()

In [11]:
print(df.head())

                               fare_amount  ... passenger_count
key                                         ...
2010-03-06 21:13:04.0000003           10.1  ...               1
2010-03-10 16:19:00.000000128          3.7  ...               1
2014-02-27 08:50:19.0000006           11.0  ...               1
2011-02-11 17:46:17.0000005            7.3  ...               3
2011-07-25 12:48:00.00000074           6.9  ...               1

[5 rows x 7 columns]

# Preprocesamiento de la data

Se cuentan las filas con valores nulos, como estÃ¡s representan una cantidad infÃ­ma
simplemente se eliminarÃ¡n

In [12]:
print(df.isnull().sum())

fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    4
dropoff_latitude     4
passenger_count      0
dtype: int64

In [13]:
df.dropna(inplace = True)
print(df.isnull().sum())

fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      0
dtype: int64

Se utilizarÃ¡ solo la hora del tiempo de recogo, para ello lo extraemos en otra columna

In [14]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'], format='%Y-%m-%d %H:%M:%S UTC')

In [15]:
df['pickup_hour'] =df['pickup_datetime'].dt.hour

In [16]:
print(df['pickup_hour'])

key
2010-03-06 21:13:04.0000003      21
2010-03-10 16:19:00.000000128    16
2014-02-27 08:50:19.0000006       8
2011-02-11 17:46:17.0000005      17
2011-07-25 12:48:00.00000074     12
                                 ..
2014-11-17 13:51:02.0000002      13
2013-02-25 17:51:28.0000004      17
2013-07-12 22:03:41.0000006      22
2009-01-17 09:35:37.0000002       9
2010-01-16 15:46:00.000000153    15
Name: pickup_hour, Length: 999996, dtype: int64

En la columna de nÃºmeros de pasajeros los valores estÃ¡n entre 0-6, existen pocos valores mayores a 7, asi que para no
eliminarlos todos los valores mayores a 7 serÃ¡n considerados como 7

In [17]:
print(df['passenger_count'].value_counts())

1    691848
2    147776
5     70898
3     43887
4     21225
6     20807
0      3554
9         1
Name: passenger_count, dtype: int64

In [18]:
df.loc[df.passenger_count > 7, 'passenger_count'] = 7

In [19]:
print(df['passenger_count'].value_counts())

1    691848
2    147776
5     70898
3     43887
4     21225
6     20807
0      3554
7         1
Name: passenger_count, dtype: int64

In [20]:
print(df.dtypes)
print(df.head())

fare_amount                 float64
pickup_datetime      datetime64[ns]
pickup_longitude            float64
pickup_latitude             float64
dropoff_longitude           float64
dropoff_latitude            float64
passenger_count               int64
pickup_hour                   int64
dtype: object
                               fare_amount  ... pickup_hour
key                                         ...
2010-03-06 21:13:04.0000003           10.1  ...          21
2010-03-10 16:19:00.000000128          3.7  ...          16
2014-02-27 08:50:19.0000006           11.0  ...           8
2011-02-11 17:46:17.0000005            7.3  ...          17
2011-07-25 12:48:00.00000074           6.9  ...          12

[5 rows x 8 columns]

In [21]:
df.head()

                               fare_amount  ... pickup_hour
key                                         ...
2010-03-06 21:13:04.0000003           10.1  ...          21
2010-03-10 16:19:00.000000128          3.7  ...          16
2014-02-27 08:50:19.0000006           11.0  ...           8
2011-02-11 17:46:17.0000005            7.3  ...          17
2011-07-25 12:48:00.00000074           6.9  ...          12

[5 rows x 8 columns]

###Creando columna de distancia recorrida

Hallaremos la distancia recorrida en km para cada fila. \\
Usamos la Haversine formula, que halla la distancia entre dos puntos en una esfera dadas sus longitudes y latitudes. \\
$d = 2r \arcsin (\sqrt{\sin^{2}(\frac{\varphi_2 - \varphi_1}{2}) + \cos(\varphi_1)cos(\varphi_2)\sin^{2}(\frac{\lambda_2 - \lambda_1}{2})})$ \\
Sea $\varphi_1, \varphi_2$ latitudes y $\lambda_1, \lambda_2$ longitudes \\
referencia: https://en.wikipedia.org/wiki/Haversine_formula

Para disminuir los cÃ¡lculos, lo llevaremos a Ã¡ngulo doble: $\sin^{2}(\frac{\varphi_2 - \varphi_1}{2}) = \frac{1-\cos(\varphi_2 - \varphi_1)}{2}$

In [22]:
from math import cos, asin, sqrt, pi
p = pi/180
radioTierra = 6371
df["distancia_recorrida"] = df.apply(
    lambda fila: 2*radioTierra * asin(sqrt(0.5 - cos((fila.dropoff_latitude - fila.pickup_latitude) * p)/2 + cos(fila.pickup_latitude * p) * cos(fila.dropoff_latitude * p) * (1 - cos((fila.dropoff_longitude - fila.pickup_longitude) * p)) / 2)) 
, axis=1)

In [23]:
df.head(10)

                               fare_amount  ... distancia_recorrida
key                                         ...
2010-03-06 21:13:04.0000003           10.1  ...            5.117160
2010-03-10 16:19:00.000000128          3.7  ...            0.497314
2014-02-27 08:50:19.0000006           11.0  ...            3.110906
2011-02-11 17:46:17.0000005            7.3  ...          130.493625
2011-07-25 12:48:00.00000074           6.9  ...            1.711032
2014-07-23 10:16:44.0000001           20.5  ...            4.483717
2015-03-27 20:55:48.0000003           16.5  ...            6.129730
2009-03-04 19:38:00.000000250          5.7  ...            1.636317
2014-01-13 16:42:00.000000119         21.5  ...            5.714965
2010-05-10 12:22:18.0000002            6.9  ...            1.505215

[10 rows x 9 columns]

Eliminamos valores raros, donde la distancia no va acorde con la tarifa

In [24]:
import numpy as np
##Se crea una nueva columna con valores "ok" y "no"
df["booleano"]= np.where((df["distancia_recorrida"]>100)& (df["fare_amount"]<20),'no','ok')

In [25]:
df

                               fare_amount  ... booleano
key                                         ...
2010-03-06 21:13:04.0000003           10.1  ...       ok
2010-03-10 16:19:00.000000128          3.7  ...       ok
2014-02-27 08:50:19.0000006           11.0  ...       ok
2011-02-11 17:46:17.0000005            7.3  ...       no
2011-07-25 12:48:00.00000074           6.9  ...       ok
...                                    ...  ...      ...
2014-11-17 13:51:02.0000002            4.0  ...       ok
2013-02-25 17:51:28.0000004            7.0  ...       ok
2013-07-12 22:03:41.0000006           10.5  ...       ok
2009-01-17 09:35:37.0000002           10.9  ...       ok
2010-01-16 15:46:00.000000153         12.9  ...       ok

[999996 rows x 10 columns]

In [26]:
#eliminamos todas las filas que tengan "no"
indices = df[df['booleano']=='no'].index
df.drop(indices, inplace=True)

In [27]:
#eliminamos la columna booleano
df.drop(columns=["booleano"], inplace=True)
df

                               fare_amount  ... distancia_recorrida
key                                         ...
2010-03-06 21:13:04.0000003           10.1  ...            5.117160
2010-03-10 16:19:00.000000128          3.7  ...            0.497314
2014-02-27 08:50:19.0000006           11.0  ...            3.110906
2011-07-25 12:48:00.00000074           6.9  ...            1.711032
2014-07-23 10:16:44.0000001           20.5  ...            4.483717
...                                    ...  ...                 ...
2014-11-17 13:51:02.0000002            4.0  ...            0.412763
2013-02-25 17:51:28.0000004            7.0  ...            0.990211
2013-07-12 22:03:41.0000006           10.5  ...            3.298915
2009-01-17 09:35:37.0000002           10.9  ...            5.119378
2010-01-16 15:46:00.000000153         12.9  ...            5.705464

[998158 rows x 9 columns]

#Usando algoritmos y entrenando

Se usarÃ¡n las siguientes carÃ¡cteristicas

In [28]:
X = df[['passenger_count','pickup_hour','distancia_recorrida']]
y = df.fare_amount
print(X)

                               passenger_count  ...  distancia_recorrida
key                                             ...
2010-03-06 21:13:04.0000003                  1  ...             5.117160
2010-03-10 16:19:00.000000128                1  ...             0.497314
2014-02-27 08:50:19.0000006                  1  ...             3.110906
2011-07-25 12:48:00.00000074                 1  ...             1.711032
2014-07-23 10:16:44.0000001                  1  ...             4.483717
...                                        ...  ...                  ...
2014-11-17 13:51:02.0000002                  1  ...             0.412763
2013-02-25 17:51:28.0000004                  1  ...             0.990211
2013-07-12 22:03:41.0000006                  1  ...             3.298915
2009-01-17 09:35:37.0000002                  3  ...             5.119378
2010-01-16 15:46:00.000000153                2  ...             5.705464

[998158 rows x 3 columns]

In [29]:
from sklearn.preprocessing import RobustScaler
transformer = RobustScaler(quantile_range = (0.1,0.9)).fit(X)
X = transformer.transform(X)

In [30]:
print(X)

[[ 0.          7.          3.00480136]
 [ 0.          2.         -1.61504472]
 [ 0.         -6.          0.99854716]
 ...
 [ 0.          8.          1.18655586]
 [ 2.         -5.          3.00701925]
 [ 1.          1.          3.5931046 ]]

In [31]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [32]:
from sklearn.tree import DecisionTreeRegressor
regressor1 = DecisionTreeRegressor(random_state=0)
regressor2 = DecisionTreeRegressor(random_state=0, max_depth=13,
                                   max_features='auto',
                                   splitter='best')

a1 = regressor1.fit(X_train,y_train)
a2 = regressor2.fit(X_train,y_train)

y1=a1.predict(X_test)
y2=a2.predict(X_test)

In [33]:
print(regressor1)
print()
print(regressor2)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=0, splitter='best')

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=13,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=0, splitter='best')

In [34]:
print("Costo de viaje de los datos de prueba")
print(y_test)
print()

print("Predicciones de costos de viaje")
print("Primer modelo")
print(y1)
print("Segundo modelo")
print(y2)

Costo de viaje de los datos de prueba
key
2014-07-10 21:44:45.0000001      10.5
2012-05-23 07:27:00.00000055      6.5
2010-08-12 08:37:00.00000033     50.5
2013-10-13 13:10:00.000000153    14.0
2014-11-26 11:35:26.0000002       8.5
                                 ...
2012-10-23 10:29:57.0000003       7.5
2015-02-13 23:17:52.0000005      13.5
2010-02-18 14:08:59.0000003       9.7
2014-06-25 16:53:00.000000142    20.5
2009-01-23 20:05:00.000000100     9.3
Name: fare_amount, Length: 299448, dtype: float64

Predicciones de costos de viaje
Primer modelo
[ 8.5  8.  49.8 ... 14.   6.1  8.1]
Segundo modelo
[ 9.20894642  7.72635135 54.55005666 ... 11.56549035  6.76039813
  9.86684906]

# Metricas del modelo

**Error absoluto medio (MAE)**

![ErrorAbsolutoMedio-MAE.png]()

In [36]:
from sklearn.metrics import mean_absolute_error

print(mean_absolute_error(y_test, y1))
print(mean_absolute_error(y_test, y2))

3.350463116601777
2.458980580013912

**Error Cuadratico medio**

![MSE-RMSE.png]()

In [35]:
from sklearn.metrics import mean_squared_error

#MSE
print("MSE")
print(mean_squared_error(y_test, y1))
print(mean_squared_error(y_test, y2))

print()

#RMSE
print("RMSE")
print(mean_squared_error(y_test, y1,squared=False))
print(mean_squared_error(y_test, y2,squared=False))

MSE
44.59774801372485
28.002880029522135

RMSE
6.678154536526154
5.2917747523418015

**Error mÃ¡ximo**

![MaxError.png]()

In [37]:
from sklearn.metrics import max_error

print(max_error(y_test, y1))
print(max_error(y_test, y2))

286.5
319.12897196261684

**Error absoluto mediano**

![ErrorAbsolutoMediano.png]()

In [38]:
from sklearn.metrics import median_absolute_error

print(median_absolute_error(y_test, y1))
print(median_absolute_error(y_test, y2))

1.9000000000000004
1.3925246981339185

**PuntuaciÃ³n de varianza explicada**

![PuntuacionDeVarianzaExplicada.png]()

In [39]:
from sklearn.metrics import explained_variance_score

print(explained_variance_score(y_test, y1))
print(explained_variance_score(y_test, y2))

0.531974888988644
0.7061192213000933

**PuntuaciÃ³n RÂ²**

![r2.png]()

In [40]:
from sklearn.metrics import r2_score

print(r2_score(y_test, y1))
print(r2_score(y_test, y2))

0.5319613543924496
0.7061190166352169

**Error porcentual absoluto medio**

![ErrorPorcentualAbsolutoMedio.png]()

**DesviaciÃ³n media de Tweedie**

![DesviacionTweedie.png]()

OBS: Para la desviaciÃ³n media de Poisson y Gamma, la variable de prueba y la de predicciÃ³n deben tener elementos extrictamente positivos.