In [1]:
#Habilitar si usas google colab
#from google.colab import drive
#drive.mount('/content/drive')

ModuleNotFoundError: No module named 'google'

In [3]:
import pandas as pd

# Lectura de la data

In [5]:
# Utilizando google colab
#data = pd.read_csv('/content/drive/MyDrive/IA/PracticaCalificada2-CC421/train.csv', chunksize=42000000)
# Desde local (jupyter notebook)
data = pd.read_csv('train.csv', chunksize=42000000)

In [6]:
data.get_chunk()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1
...,...,...,...,...,...,...,...,...
41999995,2012-01-27 14:35:43.0000006,4.5,2012-01-27 14:35:43 UTC,-73.955099,40.773177,-73.959940,40.766715,1
41999996,2014-07-17 13:29:00.00000079,3.5,2014-07-17 13:29:00 UTC,-73.980840,40.765832,-73.983065,40.766787,2
41999997,2014-10-05 12:53:00.00000069,5.0,2014-10-05 12:53:00 UTC,-73.959443,40.780072,-73.970320,40.786592,3
41999998,2010-11-28 18:47:42.0000006,4.1,2010-11-28 18:47:42 UTC,-73.955497,40.764029,-73.950687,40.771129,1
41999999,2014-01-19 01:25:49.0000004,7.5,2014-01-19 01:25:49 UTC,-74.010141,40.729878,-73.992081,40.727390,3

In [34]:
df = data.get_chunk()

StopIteration:

In [35]:
print(df.head())

                                    key  fare_amount     pickup_datetime  \
42000000  2010-06-16 10:03:00.000000132          5.3 2010-06-16 10:03:00
42000001    2011-11-09 17:52:36.0000001         10.1 2011-11-09 17:52:36
42000002  2013-10-19 11:49:00.000000192         13.0 2013-10-19 11:49:00
42000003  2014-01-07 14:41:00.000000122          4.5 2014-01-07 14:41:00
42000004    2014-05-23 13:59:44.0000001         13.0 2014-05-23 13:59:44

          pickup_longitude  pickup_latitude  dropoff_longitude  \
42000000        -73.990169        40.761729         -73.980716
42000001        -73.972377        40.756351         -73.956727
42000002        -73.972622        40.793482         -73.940427
42000003        -73.990432        40.740627         -73.989182
42000004        -73.989161        40.748419         -73.970046

          dropoff_latitude passenger_count  pickup_hour
42000000         40.765448               1           10
42000001         40.780520               1           17
42000002         40.789750               1           11
42000003         40.734080               1           14
42000004         40.765641               1           13

Se cuentan las filas con valores nulos, como estÃ¡s representan una cantidad infÃ­ma
simplemente se eliminarÃ¡n

In [36]:
print(df.isnull().sum())

key                  0
fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      0
pickup_hour          0
dtype: int64

In [37]:
df.dropna(inplace = True)
print(df.isnull().sum())

key                  0
fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      0
pickup_hour          0
dtype: int64

In [17]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'], format='%Y-%m-%d %H:%M:%S UTC')

In [21]:
df['pickup_hour'] =df['pickup_datetime'].dt.hour

In [22]:
print(df['pickup_hour'])

42000000    10
42000001    17
42000002    11
42000003    14
42000004    13
            ..
55423851     3
55423852    20
55423853    22
55423854     5
55423855    11
Name: pickup_hour, Length: 13423761, dtype: int64

In [38]:
print(df['passenger_count'].value_counts())

1    9285570
2    1980066
5     951307
3     589150
4     285949
6     284903
0      46784
7         29
7          3
Name: passenger_count, dtype: int64

In [42]:
df.loc[df.passenger_count > 7, 'passenger_count'] = 7

In [43]:
print(df['passenger_count'].value_counts())

1    9285570
2    1980066
5     951307
3     589150
4     285949
6     284903
0      46784
7         32
Name: passenger_count, dtype: int64